.pagination-btn {
  border-radius: 5px;
  background-color: #2f80ed;
  color: #ffff;
  border: 1px solid transparent;
  font-size: 14px;
  padding:4px;
  margin:0px 4px;
}
.pagination-btn:disabled {
  border-radius: 5px;
  background-color: #49505780;
  color: #ffff;
}
.pagination-container {
  text-align: end;
}
