.cngpass-info {
  align-items: center;
}
.cngpass-name {
  color: #6c757d;
  font-size: 30px;
  padding: 0;
  letter-spacing: 2px;
}

.password-showhide {
  position: relative;
}
.password-showhide-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.password-showhide-icon {
  border: none;
  background: none;
}

.update-pass-btn {
    background-color: #3d5a80;
    color: white;
    font-weight: 400;
  }
  .update-pass-btn:hover {
    color: white;
  }
  