.password-showhide {
  position: relative;
}
.password-showhide-btn {
  position: absolute;
  right: 10px;
  bottom: 6px !important;
  font-size: 20px;
}
.password-showhide-icon {
  border: none;
  background: none;
}
