.signup-title {
  color: #3d5a80;
  opacity: 1;
  font-size: 28px;
}
.signup-subtitle {
  color: #343a40;
  font-weight: 400;
  font-size: 20px;
}
.custom-btn {
  background-color: #3d5a80;
  border: none;
  color: white;
}
.custom-btn:hover {
  color: white;
}

.signup-container {
  border: 1px solid #6c757d;
  border-radius: 5px;
  padding: 30px;
}
.signup-form {
  padding: 35px;
}
.signin-link:hover {
  text-decoration: none;
}
.form-label {
  color: #707070;
  font-size: 14px;
}
