
.reset-subtitle {
  color: #343a40;
  font-weight: 400;
  font-size: 20px;
}
.custom-btn {
  background-color: #27ae60 !important;
  border: none;
  color: white;
}
.custom-btn:hover {
  color: white;
}
.returnto_signin {
  color: #adb5bd;
  align-items: center;
  display: block;
}
.returnto_signin:hover {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.reset-container {
  border-radius: 5px;
  padding: 30px;
}
.reset-form {
  height: 80vh;
}

.form-label {
  color: #707070;
  font-size: 14px;
}

.reset-inputs {
  border: none !important;
  background-color: #f3f3f3 !important;
  padding: 20px 10px;
}
.reset-inputs:focus {
  box-shadow: 0 0 0 0.1rem #000000;
}
