/*.userGroup-table {*/
/*  border: 1px solid #ced4da;*/
/*  border-radius: 5px;*/
/*}*/
.userGroup-section {
  padding: 20px 35px;
  color: #6c757d;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin: 20px 0px;
}

.annotator-section{
  padding: 20px 20px;
  width: 49%;
  color: #6c757d;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-right: 2%;
}
.validator-section{
  padding: 20px 20px;
  width: 49%;
  color: #6c757d;
  border: 1px solid #ced4da;
  border-radius: 5px;
}
/*.userGroup-table {*/
/*  color: #6c757d;*/
/*  height: 350px;*/
/*  overflow-x: hidden;*/
/*  overflow-y: scroll;*/
/*}*/
.form-label {
  font-weight: 500;
  color: #6c757d;
}
.group-title {
  color: #3d5a80;
}
.userGroup-table::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(44, 41, 42);
}

.userGroup-table::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #e0e0e0;
  
}

.select-custom-design{
  height: 54px;
  border-radius: 8px;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.userGroup-table::-webkit-scrollbar-thumb {
  
  -webkit-box-shadow: inset 0 0 6px #e0e0e0;
}

​ .userGroup-header {
  font-size: 14px;
  color: #6c757d;
}
.group-search-filter {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.group-select-filter {
  /*width: 30%;*/
  margin: 0 10px;
}
.group-user-name{
  word-wrap: break-word;
  text-align: left;
  margin-left: 5px;
}
.search-group {
  position: relative;
  top: -23px;
}
.search-group input{
  padding-left: 35px;
}
.search-group .search-icon{
  position: absolute;
  top: 35px;
  left: 7px;
  font-size: 20px;
}

.group-annotators {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 20px;
  margin-top: 0px;
}
.group-validators {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 20px;
  margin-top: 0px;
}
.group-annotators-validator {
  padding: 0px 10px;
}
.form-control::placeholder {
  color: #ced4da;
}
.form-check-input {
  cursor: pointer;
}
.selected-badge {
  background-color: #e9ecef !important;
  color: #495057 !important;
  border: none;
}
.selected-badge:hover {
  background-color: #e9ecef !important;
  color: #495057 !important;
  border: none;
}


.page-link {
  /*font-size: 14px;*/
  /*background-color: #fff;*/
  border: none;
  color: #25282B;
  /*border-radius: 5px;*/
  /*background-color: #49505780;*/
  /*color: #ffff;*/
  /*line-height: 0.5;*/
  /*margin-left: 6px;*/
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  border-color: #3d5a80;
  border-left: 0px !important;
  border-radius: 8px;
  background-color: #2F80ED !important;
}
/*.page-item.active {*/
/*  border-left: 0px !important;*/
/*}*/
.page-item .page-link {
  background: #ffffff;
  color: #212121;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.header-check{
  width: 20px;
}
.header-name{
  text-align: left;
  margin-left: 5px;
}

.user-list-header th{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4F4F4F;
}

.create-group-modal .modal-dialog{
  max-width: 1000px !important;
  width: 955px !important;
}

.user-list-header{
  border: 1px solid #F2F2F2;
  border-radius: 5px;
  padding: 6px;
  padding-left: 8px !important;
  background-color: #FFFFFF;
}

.table-body-row{
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.search-group .search-icon{
  color: #212121;
  font-size: 25px;
  top: 30px;
  left: 10px;
}
.select-custom-design{
  width: 150px;
}
.group-search-filter .search-group{
  width: 335px;
}

.group-search-filter .search-group .input-box{
  padding-left: 40px;
}

.input-label{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.task-select label{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.update-modal-footer button{
  margin-top: 0px;
}
.update-modal-footer{
  padding-top: 0px;
}

.update-modal-footer button:hover{
  color: #FFFFFF;
}